@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 235 89% 7%;
    --foreground: 0 0% 100%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 86% 75%;
    --accent-foreground: 234 86% 12%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 0 0% 100%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  background-color: hsl(var(--background)) !important;
}

.gradient {
  background: rgb(11,24,51);
  background: linear-gradient(180deg, rgba(11,24,51,0.8) 0%, rgba(16,53,149,0.3) 40%, rgba(2,5,35,0.1) 55%, rgba(2,5,35,1) 80%, rgba(2,5,35,1) 95%)
}

@media (max-width: 440px) {
  .circle {
    bottom: -65vw;
  }
}

.navbar header {
  width: 95%;
  max-width: 2200px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .navbar header {
    width: 85%;
  }
}

.autocomplete label {
  color: hsl(var(--foreground))
}

.btn-shine {
  position: relative;
}
.btn-shine:before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: -4px;
  bottom: -4px;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  opacity: 0;
  transform: scale(0.95);
  will-change: opacity, transform;
  background-image: linear-gradient(-45deg, transparent 30%, rgba(255, 255, 255, 0.4), transparent 70%);
  background-size: 600%;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.btn-shine.active:before, .btn-shine:focus:before, .btn-shine:hover:before {
  opacity: 1;
  transform: scale(1);
  animation-name: animation-shine;
}
@keyframes animation-shine {
  0% {
    background-position: 100%;
 }
  30% {
    background-position: 0%;
 }
  100% {
    background-position: 0%;
 }
}

.no-anim * {
  animation-delay: -99s !important;
}

.cluster-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(var(--background));
  background: hsl(var(--primary));
  border-radius: 9999px;
  border-width: 4px;
  border-color: hsl(var(--accent));
  cursor: pointer;
}

.popup-marker {
  font-family: var(--Montserrat);
}

.popup-marker > .mapboxgl-popup-tip {
  border-top-color: hsl(var(--background)) !important;
}

.popup-marker > .mapboxgl-popup-content {
  padding: 0px;
  width: fit-content;
  border-radius: calc(var(--radius) - 2px);
  overflow: hidden;
  background-color: hsl(var(--background));
}

.popup-marker .mapboxgl-popup-close-button {
  font-size: 1.5rem;
  padding: 0.1rem;
  border-bottom-left-radius: calc(var(--radius) - 2px);
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 250ms;
  background-color: hsl(var(--background))
}

.popup-marker .mapboxgl-popup-close-button:hover,
.popup-marker .mapboxgl-popup-close-button:focus {
  background-color: hsl(var(--accent))
}